<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
	<title>DSMobile</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="css/popup.css" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src="js/jquery-1.9.0.min.js"></script> 
	<script src="js/jquery.openCarousel.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript" src="js/move-top.js"></script>
	<script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
	<link href="css/easy-responsive-tabs.css" rel="stylesheet" type="text/css" media="all"/>
	<script type="text/javascript">
	    $(document).ready(function () {
	        $('#horizontalTab').easyResponsiveTabs({
	            type: 'default', //Types: default, vertical, accordion           
	            width: 'auto', //auto or any width like 600px
	            fit: true   // 100% fit in a container
	        });
	    });
	</script>		
	<link rel="stylesheet" href="css/etalage.css">
	<script src="js/jquery.etalage.min.js"></script>
	<script>
		jQuery(document).ready(function($){

			$('#etalage').etalage({
				thumb_image_width: 300,
				thumb_image_height: 400,
				source_image_width: 900,
				source_image_height: 1200,
				show_hint: true,
				click_callback: function(image_anchor, instance_id){}
			});

		});
	</script>
	<script src="js/star-rating.js" type="text/javascript"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
	<script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
	<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>-->

	<script type="text/javascript" src="js/lockr.min.js"></script>
</head>
<body ng-app="app">
	<div ng-controller="cartCtrl">
		<div class="header">
			<div class="wrap">
				<div class="header_top">
					<div class="logo">
						<a href="/"><img src="images/logo.png" alt="" /></a>
					</div>
					<div class="header_top_right">
					<div class="search_box">
					  	<span>Search</span>
			     		<form>
			     			<input type="text" ng-model="search">
			     			<input type="submit" ng-click="searchPhones()">
			     		</form>
			     		<div class="clear"></div>
			     	</div>


			     	<span ng-controller="PopupCtrl as popupCtrl">
						<div id="blanket" style="display:none"></div>

						<div id="popUpDiv" style="display:none">
							
							<div ng-show = "!flag1" class = "login_dialog"> 
								<div class = "login_header"> 
									LOGIN
								</div>		
								
								<div>
									<p class = "login-tilte"> Email </p>
									<input class = "login-input" type = "email" placeholder = "Input email" ng-model = "aglEmail"/>
									<p class = "login-title"> Password </p>
									<input class = "login-input" type = "password" placeholder = "Input password" ng-model = "aglPass"/>
									<p class = "login_error"> {{aglError}} </p>
									<p> Forgot password? Click <a href = "#"> here </a> </p>
									<p> Haven't account yet? <a href = "#" ng-click="flag1 = !flag1"> Sign up </a> </p>
									
									<center> <button ng-click = "SignIn()"> Login </button> </center>
								</div>
							</div>
							
							<div ng-show = "flag1" class = "login_dialog">							
								<div class = "login_header"> 
									SIGN UP
								</div>	
								
								<div>
									<p class = "login-tilte"> Email </p>
									<input class = "login-input" type = "email" placeholder = "Input email" ng-model = "aglSUEmail"/>
									<p class = "login-title"> Password </p>
									<input class = "login-input" type = "password" placeholder = "Input password" ng-model = "aglSUPass"/>
									
									<input type = "checkbox" ng-model="aglAgree"/> I agree to the Terms of Service and Privacy Policy
									
									<p class = "login_error"> {{aglError}} </p>
									<center> <button ng-click = "SignUp()"> Sign up </button> </center>
								</div>
							</div>

							<div ng-show = "flag2">
								We have sent new password to your email!
							</div>
							<img class = "close_login_dialog" ng-click = "popup('popUpDiv')" src = "images/delete.png" />
						</div>

						<span class="logged_span">{{loggedInSpan}}</span>
						<button ng-hide="loggedIn" ng-click = "popup('popUpDiv')" >Login</button>
						<button ng-show="loggedIn" id="btnLogout" ng-click = "signOutFromCart()">Logout</button>	
			     	</span>	
			     	
				</div>
		    	<div class="clear"></div>
		    </div>     
  		    <div class="navigation">
				<ul class="nav">
					<li>
						<span ng-click="loadPhones('Apple')">Apple</span>	
					</li>
					<li>
						<span ng-click="loadPhones('Samsung')">Samsung</span>					
					</li>
					<li>
						<span ng-click="loadPhones('LG')">LG</a>
					</li>
					<li>
						<span ng-click="loadPhones('Sony mobile')">Sony</span>
					</li>
					<li>
						<span ng-click="loadPhones('HTC')">HTC</span>
					</li>
					<li>
						<span ng-click="loadPhones('Oppo')">Oppo</span>
					</li>
					<li>
						<span ng-click="loadPhones('Huawei')">Huawei</span>
					</li>
					<li>
						<span ng-click="loadPhones('SHARP')">Sharp</span>
					</li>
				</ul>
				<span class="left-ribbon"> </span> 
  				<span class="right-ribbon"> </span>    
  		    </div>
   		</div>
    </div>
       <!------------End Header ------------>
    <div class="main">
		<div class="wrap">
			<div class="preview-page">
				<div class="section group">
					<div class="cont-desc span_1_of_2">
						<ul class="back-links">
							<li><a href="/">Home</a> ::</li>
							<li>Your cart</li>
							<div class="clear"> </div>
						</ul>
						<div class="cart-details">	
							<table>
								<tr>
									<td><span class="table_header">Product</span></td>
									<td><span class="table_header">Price</span></td>
									<td><span class="table_header">Quantity</span></td>
									<td><span class="table_header">Total</span></td>
								</tr>
								<tr ng-repeat = "phone in phones" ng-mouseenter="shows[phone.index] = !shows[phone.index]" ng-mouseleave="shows[phone.index] = !shows[phone.index]">
									<td class="cell_wrapper">
									<button class="remove_button" ng-show="shows[phone.index]" ng-click="remove(phone)">X</button>
										<div>
											<img src="{{phone.image}}">
										</div>
										<span class="product_name">{{phone.name.id}}</span>
										
									</td>
									<td><span>{{phone.price}}đ<span></td>
									<td><span>{{phone.quantity}}<span></td>
									<td><span>{{phone.price * phone.quantity}}đ<span></td>
								</tr>
								<tr>
									<td></td><td></td>
									<td>Total:</td>
									<td>{{total}}đ</td>
								</tr>
							</table>
							
							<div class="clear"></div>
						</div>
						
					</div>
					<div class="rightsidebar span_3_of_1 sidebar">
						<h3>Popular Products</h3>
						<ul class="popular-products">
							<li ng-repeat= "popular in popularPhones">
								<h4><a href="#" ng-click="loadProduct(popular)">{{popular.name.id}}</a></h4>
								<a href="#" ng-click="loadProduct(popular)"><img src="{{popular.image}}" alt="" /></a>
								<div class="price-details">
									<div class="price-number">
										<p><span class="rupees">{{popular.price}}đ</span></p>
									</div>
									<div class="add-cart">								
										<h4><span ng-click="loadProduct(popular)">More Info</span></h4>
									</div>
									<div class="clear"></div>
								</div>
							</li>							
						</ul>

					</div>
				</div>
			</div>
		</div>
    </div>
        
    <div class="footer">
   		<div class="wrap">	
			<div class="copy_right">
				<p>Copy rights (c). All rights Reseverd | Template by  <a href="http://w3layouts.com" target="_blank">W3Layouts</a> </p>
		   	</div>		
        </div>
    </div>
   <script type="text/javascript">
		$(document).ready(function() {			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
    <a href="#" id="toTop"> </a>
    <script type="text/javascript" src="js/controllers/main.js"></script>
	<script type="text/javascript" src="js/controllers/cart.js"></script>
	<script type="text/javascript" src="js/controllers/popup.js"></script>

	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>

